/* Estrutura CSS
    elemento{
        propriedade: valor;
    }
*/

/*--------------PADRÕES--------------*/
html {
    background: #73060f;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.site {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/*--------------TOPO--------------*/

.topo {
    background: #080d05;
}

.topo .site nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.topo nav ul {
    display: flex;
}

.topo a h1 {
    background: url(/media/img/logoFezao.svg);
    background-size: cover;
    text-indent: -9999px;
    width: 192px;
    height: 110px;
    margin: 10%;
}

.topo nav .nav-desktop li a {
    color: #f2f2f2;
    background: #d90718;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 2vh;
    font-weight: 800;
}

.topo nav .nav-desktop li a:hover {
    color: #d90718;
    background: #f2f2f2;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 2vh;
    font-weight: 800;
}

/*--------------NOVO TOPO & RESPONSIVO--------------*/
header {
    background: #080d05;
}

.navbar {
    width: 100%;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo h1 {
    background: url(/logoFezao.svg) no-repeat;
    background-size: cover;
    text-indent: -9999px;
    width: 160px;
    height: 90px;
}

.navbar .links a,
.drop-navbar a {
    color: #f2f2f2;
    background: #d90718;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
}

.navbar .links a:hover,
.drop-navbar a:hover {
    color: #d90718;
    background: #f2f2f2;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}

/*--------------Mobile Navbar--------------*/

.drop-navbar {
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop-navbar.open {
    height: 220px;
}

.drop-navbar li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*--------------BANNER--------------*/

.banner {
    height: 800px;
    background: url(/media/img/FICTICIAS/banner.png);
}

.banner div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.banner .site h2 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 3px #d90718;
}

.banner .site a {
    color: #f2f2f2;
    background: #d90718;
    font-size: 35px;
    font-weight: bold;
    padding: 1% 6%;
    border-radius: 10px;
    margin: 15px 0;
}

.banner .site a:hover {
    color: #d90718;
    background: #f2f2f2;
    font-size: 35px;
    font-weight: bold;
    padding: 1% 6%;
    border-radius: 10px;
    margin: 15px 0;
}

/*--------------CURSOS--------------*/

/*--------------SOBRE--------------*/

.sobre {
    padding: 50px 0;
    color: #f2f2f2;
}

.sobre h2 {
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0;
}

.sobre .box-sobre {
    display: flex;
}

.sobre .text-sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 2%;
}

.sobre p {
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
}

.sobre img {
    border-radius: 10px;
    background: #73060f;
    box-shadow: 20px 20px 40px #51040b, -20px -20px 40px #960814;
}

.sobre .text-sobre a {
    color: #f2f2f2;
    background: #d90718;
    font-weight: 800;
    border-radius: 10px;
    padding: 2% 6%;
    border: none;
}

.sobre .text-sobre a:hover {
    color: #d90718;
    background: #f2f2f2;
    font-weight: 800;
    border-radius: 10px;
    padding: 2% 6%;
    border: none;
}

/*--------------PAG SOBRE--------------*/

.line-par h2 {
    text-align: end;
}


/*--------------Equipe--------------*/

.equipe {
    color: #f2f2f2;
    background: #080d05;
    padding: 50px 0;
}

.equipe h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.equipe .box-equipe {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.equipe h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0;
}


/*--------------SERVIÇOS--------------*/

.servicos {
    color: #f2f2f2;
    padding: 50px 0;
}

.servicos h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.servicos .botao {
    display: flex;
    justify-content: center;
}

.servicos button {
    color: #f2f2f2;
    background: #d90718;
    padding: 1% 3%;
    border-radius: 10px;
    border-style: none;
}

/* HOVER BOTÃO SERVIÇOS
.servicos button:hover {
    color: #f2f2f2;
    background: #080d05;
    padding: 1% 3%;
    border-radius: 10px;
    border-style: none;
}
*/

.servicos button a:nth-child(1) {
    font-weight: 800;
}

.servicos button a {
    color: #f2f2f2;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.servicos button a:hover {
    color: #f2f2f2;
    font-size: 25px;
    font-weight: 800;
}

.servicos .line {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.servicos .line h3 {
    text-align: end;
    margin: -25px 10px;
}

.servicos .basicos,
.estetica,
.quimica,
.exclusivos h2 {
    margin: 25px 0;
}

/*--------------GALERIA--------------*/

.galeria {
    background: #080d05;
    padding: 50px 0;
}

.galeria h2 {
    color: #f2f2f2;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.galeria div {
    display: flex;
    justify-content: space-around;
}

/*--------------LOCALIZAÇÃO--------------*/

.location {
    padding: 50px 0;
    color: #f2f2f2;
}

.location h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.location .box-location {
    display: flex;
}

.location .mapa {
    border-radius: 10px;
    background: #73060f;
    box-shadow: 20px 20px 40px #51040b, -20px -20px 40px #960814;
}

.location .redes-loc {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.location p {
    font-size: 20px;
}

.location .insta-loc,
.face-loc {
    display: flex;
    align-items: center;
}

.location .redes-loc img {
    width: 56px;
    height: 56px;
}

.location .redes-loc a {
    color: #f2f2f2;
    font-size: 20px;
}

/*--------------PAG CONTATO--------------*/

.location h3 a {
    color: #f2f2f2;
    background: #d90718;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    padding: 1% 3%;
}

.location h3 {
    margin: 6% 0;
    text-align: center;
}



/*--------------DIREITOS--------------*/

footer {
    color: #f2f2f2;
    font-weight: 600;
    text-align: center;
}

footer .direitos {
    padding: 1%;
    font-size: 18px;
    background: #080d05;
}

footer .desenvolvedor {
    padding: 1%;
    font-size: 18px;
    letter-spacing: 5px;
    background: #034c8c;
}

footer a {
    color: white;
    background: #d90718;
    padding: 5px 10px;
    border-radius: 10px;
}

footer a:hover {
    color: #080d05;
    background: #f2f2f2;
}

/*--------------BOTÃO WHATSAPP--------------*/

/* TOPO BOTÃO
.whats-botao a:nth-child(1) {
    background: url(/media/img/arrow.svg);
    background-size: cover;
    text-indent: -9999px;
    width: 3em;
    height: 3em;
    position: fixed;
    bottom: 8%;
    right: 1.5%;
}
*/

.whats-botao a {
    background: url(/media/social/WhatsVerde.svg);
    background-size: cover;
    text-indent: -9999px;
    width: 4em;
    height: 4em;
    position: fixed;
    bottom: 2%;
    right: 1%;
}

/*--------------SCROLL DA PAGINA--------------*/

/* estilo do scroll */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #080d05;
}

::-webkit-scrollbar-thumb {
    background-color: #d90718;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #73060f;
}


/*--------------LAYOUT RESPONSIVO 1024px--------------*/

@media (max-width: 1024px) {}

@media (max-width: 768px) {
    .navbar .logo h1 {
        margin-left: 15px;
    }

    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
        margin-right: 30px;
    }

    .drop-navbar {
        display: block;
    }
}

@media (max-width: 425px) {
    .drop-navbar {
        left: 2rem;
        width: unset;
    }
}